attrs==22.2.0
cfgv==3.3.1
distlib==0.3.6
exceptiongroup==1.1.0
filelock==3.9.0
fire==0.5.0
flake8==6.0.0
flake8-bugbear==23.3.12
identify==2.5.18
iniconfig==2.0.0
markdown-it-py==2.2.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.0.1
mypy-extensions==1.0.0
nodeenv==1.7.0
packaging==23.0
platformdirs==3.1.0
pluggy==1.0.0
pre-commit==3.1.1
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pytest==7.2.1
pytest-lazy-fixture==0.6.3
python-dateutil==2.8.2
PyYAML==6.0
rich==13.3.2
six==1.16.0
SQLAlchemy==2.0.5.post1
termcolor==2.2.0
tomli==2.0.1
types-python-dateutil==2.8.19.10
typing_extensions==4.5.0
virtualenv==20.20.0
